@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

/* base styles */
body {
  font-family: "Press Start 2P", system-ui;

  margin: 0;
  font-size: 1.5em;
  text-align: center;
  background-color: #12023b;
  color: #fff;
}
